{% extends "base.html" %}
{% block extra_head %}
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/animate.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body>

<div class="main-container">

  <!-- Header -->
  <div class="header">
    <div class="container">

      <h1><a href="#">Paws - Your Friendly Animal Hotel</a></h1>

      <!-- Links -->
      <div class="links">

        <!-- Main Menu -->
        <ul class="menu">
          <li><a href="#services" title="#">services</a></li>
          <li><a href="#ourteam" title="#">our team</a></li>
          <li><a href="#testimonials" title="#">testimonials</a></li>
          <li><a href="#gallery" title="#">gallery</a></li>
          <li><a href="#donate" title="#">donate</a></li>
          <li><a href="#about" title="#">about us</a></li>
          <li><a href="#contact" title="#">contact</a></li>
          <li><a href="#"><i class="fa fa-facebook fa-1x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-1x"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-1x"></i></a></li>
        </ul>
        <!-- Main Menu Ends! -->

      </div>
      <!-- Links Ends! -->

    </div>
  </div>
  <!-- Header ends -->

  <!-- Slider -->
  <div class="slider">
    <div class="container">

      <ul class="slides bg-image">
        <li style="background-image: url(/static/images/iStock_000048307056Medium.jpg);"></li>
        <li style="background-image: url(/static/images/iStock_000048307056Medium.jpg);"></li>
      </ul>

    </div>
  </div>
  <!-- Slider Ends! -->

  <!-- page part -->
  <div class="page">
    <div class="container">

      <div class="mission">
        <a class="anchor" id="services"></a>

        <p class="title">Our services include</p>
        <h2>providing your pet with a safe and fun experience</h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <div class="help flexslider">

          <ul>
            <li class="home">
              <p><strong>pet Boarding</strong></p>
              <p>cat and dog boarding</p>
            </li>

            <li class="health">
              <p><strong>health and wellness</strong></p>
              <p>24/7 vet access</p>
            </li>

            <li class="food">
              <p><strong>Food, Toys, treats...</strong></p>
              <p>we provide everything</p>
            </li>

            <li class="grooming">
              <p><strong>pet grooming</strong></p>
              <p>grooming for all breeds</p>
            </li>

            <li class="love">
              <p><strong>adoptions</strong></p>
              <p>we foster pets available for adoption</p>
            </li>

            <li class="training">
              <p><strong>pet training</strong></p>
              <p>huge lush outdoor play areas</p>
            </li>
          </ul>

        </div>
        <!-- help flexslider ends! -->

      </div>

      <!-- Volunteer -->
      <div class="volunteer">
        <a class="anchor" id="ourteam"></a>

        <p class="title">our passionate team</p>
        <h3>meet professionals who will care for your pet</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="volunteers">
          <ul>
            <li>
              <div>
                <img src="/static/images/vol_1.jpg" alt=""/>
              </div>
              <strong>Jane Simpson</strong>
              Staff member
            </li>

            <li>
              <div>
                <img src="/static/images/vol_2.jpg" alt=""/>
              </div>
              <strong>Jake Simpson</strong>
              Animal trainer
            </li>

            <li>
              <div>
                <img src="/static/images/vol_3.jpg" alt=""/>
              </div>
              <strong>dr. Jane Simpson</strong>
              Veterinarian, Owner/CEO
            </li>

            <li>
              <div>
                <img src="/static/images/vol_1.jpg" alt=""/>
              </div>
              <strong>Jane Simpson</strong>
              Staff member
            </li>

            <li>
              <div>
                <img src="/static/images/vol_2.jpg" alt=""/>
              </div>
              <strong>Jake Simpson</strong>
              Animal trainer
            </li>

            <li>
              <div>
                <img src="/static/images/vol_3.jpg" alt=""/>
              </div>
              <strong>dr. Jane Simpson</strong>
              Veterinarian, Owner/CEO
            </li>
          </ul>
        </div>

      </div>
      <!-- Volunteer ends -->

    </div>
  </div>
  <!-- page part ends -->

  <!-- success story -->
  <div class="success-story">
    <a class="anchor" id="testimonials"></a>

    <div class="container">

    <p class="title">Success story</p>

    <ul>

      <li>
        <h3>Jane Doe and Lucky</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </li>

      <li>
        <h3>Jane Doe and Lucky</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </li>

    </ul>

    <img src="/static/images/paws_0.png" alt="">

    </div>
  </div>
  <!--  success story ends -->

  <!-- page -->
  <div class="page top-pattern">
    <div class="container">

      <div class="adopt">
      <a class="anchor" id="gallery"></a>

        <p class="title">browse our gallery</p>
        <h3>Satisfaction guaranteed</h3>

        <!-- menu types  -->
        <ul class="button-group">
          <li><a href="#" class="active" data-filter="*">show all</a></li>
          <li><a href="#" data-filter=".standard">standard room</a></li>
          <li><a href="#" data-filter=".vip">VIP room</a></li>
          <li><a href="#" data-filter=".playground">playground</a></li>
          <li><a href="#" data-filter=".clients">our clients</a></li>
        </ul>
        <!-- menu types ends -->

        <!-- pets -->
        <div class="pets">

          <!-- single paws_1 -->
          <div class="single" data-group="paws_1" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_1.jpg" alt="">
                <a data-imagelightbox="paws_1" href="/static/images/paws_1.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_1 ends -->

          <!-- single paws_2 -->
          <div class="single" data-group="paws_2" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_2.jpg" alt="">
                <a data-imagelightbox="paws_2" href="/static/images/paws_2.jpg"></a>
              </div>
              <a href="" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_2 ends -->

          <!-- single paws_3 -->
          <div class="single" data-group="paws_3" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_3.jpg" alt="">
                <a data-imagelightbox="paws_3" href="/static/images/paws_3.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_3 ends -->

          <!-- single paws_4 -->
          <div class="single" data-group="paws_4" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_4.jpg" alt="">
                <a data-imagelightbox="paws_4" href="/static/images/paws_4.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_4 ends -->

          <!-- single paws_5 -->
          <div class="single" data-group="paws_5" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_5.jpg" alt="">
                <a data-imagelightbox="paws_5" href="/static/images/paws_5.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_5 ends -->

          <!-- single paws_6 -->
          <div class="single" data-group="paws_6" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_6.jpg" alt="">
                <a data-imagelightbox="paws_6" href="/static/images/paws_6.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_6 ends -->

          <!-- single paws_7 -->
          <div class="single" data-group="paws_7" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_7.jpg" alt="">
                <a data-imagelightbox="paws_7" href="/static/images/paws_7.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_7 ends -->

          <!-- single paws_8 -->
          <div class="single" data-group="paws_8" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_8.jpg" alt="">
                <a data-imagelightbox="paws_8" href="/static/images/paws_8.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_8 ends -->

          <!-- single paws_9 -->
          <div class="single" data-group="paws_9" style="display: none">

            <div class="image">
              <div>
                <img src="/static/images/paws_9.jpg" alt="">
                <a data-imagelightbox="paws_9" href="/static/images/paws_9.jpg"></a>
              </div>
              <a href="#" class="button">Book now</a>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <table>
              <tr>
                <th>Room type:</th>
                <td>Standard</td>
              </tr>
              <tr>
                <th>Gender:</th>
                <td>Mixed</td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td>Mixed Breed</td>
              </tr>
            </table>

            <a href="#" class="close"><i class="fa fa-times-circle"></i></a>

          </div>
          <!-- single paws_9 ends -->

        </div>
        <!-- pets ends -->

        <!-- Projects List -->
        <div class="group">

          <div class="standard">
            <img src="/static/images/paws_1.jpg" alt="">
            <a href="#" data-group="paws_1"><span>find out more</span></a>
          </div>

          <div class="standard clients">
            <img src="/static/images/paws_2.jpg" alt="">
            <a href="#" data-group="paws_2"><span>find out more</span></a>
          </div>

          <div class="standard clients">
            <img src="/static/images/paws_3.jpg" alt="">
            <a href="#" data-group="paws_3"><span>find out more</span></a>
          </div>

          <div class="vip">
            <img src="/static/images/paws_4.jpg" alt="">
            <a href="#" data-group="paws_4"><span>find out more</span></a>
          </div>

          <div class="vip playground">
            <img src="/static/images/paws_5.jpg" alt="">
            <a href="#" data-group="paws_5"><span>find out more</span></a>
          </div>

          <div class="vip playground">
            <img src="/static/images/paws_6.jpg" alt="">
            <a href="#" data-group="paws_6"><span>find out more</span></a>
          </div>

          <div class="vip clients">
            <img src="/static/images/paws_7.jpg" alt="">
            <a href="#" data-group="paws_7"><span>find out more</span></a>
          </div>

          <div class="standard clients">
            <img src="/static/images/paws_8.jpg" alt="">
            <a href="#" data-group="paws_8"><span>find out more</span></a>
          </div>

          <div class="standard">
            <img src="/static/images/paws_9.jpg" alt="">
            <a href="#" data-group="paws_9"><span>find out more</span></a>
          </div>

        </div>
        <!-- Projects List Ends! -->

      </div>
      <!-- adopt Ends! -->

    </div>
  </div>

  <!-- Donate -->
  <div class="donate">

    <!-- Donate Section -->
    <div class="container">

      <a class="anchor" id="donate"></a>

      <p class="title">donate</p>
      <h3>if you can’t foster you can make a donation</h3>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    </div>

    <div class="donate-box">
      <div class="container">

        <p class="raised">You raised <span>$1025</span> so far. Thank you!</p>

        <div class="progress-bar">
          <div></div>
        </div>

        <div class="button-holder">
          <a href="#" class="button">Help us pay for vet bills</a>
        </div>

      </div>
    </div>
    <!-- Donate Section ends! -->

    <div class="sponsors">
      <div class="container">

        <p class="title">our sponsors and friends</p>

        <ul>
          <li>
            <a href="#"><img src="/static/images/photodune-dark.png" alt=""/></a>
          </li>
          <li>
            <a href="#"><img src="/static/images/codecanyon-dark.png" alt=""/></a>
          </li>
          <li>
            <a href="#"><img src="/static/images/grahpicriver-dark.png" alt=""/></a>
          </li>
          <li>
            <a href="#"><img src="/static/images/themeforest-dark.png" alt=""/></a>
          </li>
        </ul>

      </div>
    </div>

    <!-- Types -->
    <div class="types">
      <div class="container">

        <h4>Getting started</h4>

        <p>Et tollit utamur nam, id cum ullum etiam velit. Nec scripserit. Sea ex utamur phaedrum, nisl no, no reque sensibus duo. Mei copiosae, paulo mediocrem etiam neglegentur. Vis ut argumentum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <!-- Types of Donation -->
        <div class="section float-left">

          <h4>Boarding Admission Requirements</h4>

          <dl>
            <dt>All pets must be sprayed/neutered</dt>
            <dd>Applies to animals older then six months</dd>
            <dt>proof of up-to-date vaccinations</dt>
            <dd>All dogs must have current vaccination records on file with us.</dd>
            <dt>nametag and collar</dt>
            <dd>We also require that your pet wears a secure collar with a name tag.</dd>
          </dl>

        </div>
        <!-- Types of Donation Ends! -->

        <!-- Wish list -->
        <div class="section float-right">

          <h4>Our facilities include</h4>

          <ul>
            <li>One-acre fenced-in play area</li>
            <li>Temperature-controlled, clean, and spacious kennels</li>
            <li>Basic grooming services available upon request</li>
            <li>Individual attention and play with other dogs if requested</li>
            <li>Multi-pet discounts available</li>
            <li>Separate accomodations for cats</li>
          </ul>

        </div>
        <!-- Wish list Ends! -->

        <div class="button-holder">
          <a href="#" class="button">Fill out application form</a>
        </div>

      </div>
    </div>
    <!-- Types Ends! -->

    <!-- Types II -->
    <div class="types">
      <div class="container">

        <h4>What you shoud know</h4>

        <p>Et tollit utamur nam, id cum ullum etiam velit. Nec scripserit. Sea ex utamur phaedrum, nisl no, no reque sensibus duo. Mei copiosae, paulo mediocrem etiam neglegentur.</p>

        <dl class="accordion">
          <dt>Mei copiosae, paulo mediocrem etiam neglegentur?</dt>
          <dd>Et tollit utamur nam, id cum ullum etiam velit. Nec scripserit. Sea ex utamur phaedrum, nisl no, no reque sensibus duo. Mei copiosae, paulo mediocrem etiam neglegentur.</dd>
          <dt>Lorem Ipsum is simply dummy text?</dt>
          <dd>Et tollit utamur nam, id cum ullum etiam velit. Nec scripserit. Sea ex utamur phaedrum, nisl no, no reque sensibus duo. Mei copiosae, paulo mediocrem etiam neglegentur.</dd>
          <dt>Nec scripserit. Sea ex utamur phaedrum?</dt>
          <dd>Et tollit utamur nam, id cum ullum etiam velit. Nec scripserit. Sea ex utamur phaedrum, nisl no, no reque sensibus duo. Mei copiosae, paulo mediocrem etiam neglegentur.</dd>
        </dl>

      </div>
    </div>
    <!-- Types II Ends! -->

    <img src="/static/images/paws_1.png" class="volunteer-image" alt="">

  </div>
  <!-- Donate Ends! -->

  <!-- educate -->
  <div class="educate">
    <div class="container">
      <a class="anchor" id="about"></a>

      <p class="title">about us</p>
      <h3>Our mission, providing a home away from</h3>

      <!-- info -->
      <div class="section float-left info">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <h4>Quisque at nulla et arcu venenatis aliquam.</h4>

        <ul>
          <li>Curabitur egestas enim quis rutrum maximus.</li>
          <li>Sed eleifend sem id <a href="#">gravida pretium</a></li>
        </ul>
      </div>
      <!-- info ends -->

      <!-- news -->
      <div class="section float-right news">
        <h4>Business Hours</h4>

        <div>
          <p><strong>winter hours</strong></p>
          <p>January - March: Monday - Sunday 9 a.m. - 5 p.m.</p>
          <p>Boarding drop off hours continue to run until 7 p.m. </p>
        </div>

        <div>
          <p><strong>Regular season</strong></p>
          <p>April - December: Monday - Sunday: 9 a.m. - 7 p.m</p>
          <p>Check out times are between 9:00 a.m. - 11:00 a.m.</p>
        </div>

        <div class="cancelation-policy">
          <p><strong>Cancelation Policy:</strong></p>
          <p>Please give 24 Hour Notice of cancelation.</p>
          <p>Thanks!</p>
        </div>

      </div>
      <!-- news ends -->

    </div>
  </div>
  <!-- educate ends -->

  <!-- contact -->
  <div class="contact">
    <div class="container">
      <a class="anchor" id="contact"></a>

      <p class="title">Contact us</p>
      <h3>Have questions or comments?</h3>

      <p><i class="fa fa-map-marker"></i> 11000 Long Address Line, Another address line</p>
      <p><i class="fa fa-phone"></i> + 381 64 123 33 222 &nbsp; + 381 64 111 22 333</p>

      <!-- Form -->
      <form action="contact.php" method="post">

        <input type="text" name="name" placeholder="Your Name *"/>
        <input type="text" name="email" placeholder="Your Email *"/>
        <textarea name="message" placeholder="Your Message *"></textarea>

        <button name="submit" type="submit">Send us a message</button>

      </form>
      <!-- Form Ends! -->

      <!-- Do Not Remove! -->
      <p class="error"></p>
      <p class="message"></p>
      <!-- Do Not Remove! Ends! -->

    </div>
  </div>
  <!-- contact ends -->

  <div id="map"></div> <!-- Container for google map -->

  <!-- footer -->
  <div class="footer">
    <div class="container">

      <p>copyright 2014. <a href="http://mage-themes.com">mage-themes.com</a></p>

    </div>
  </div>
  <!-- footer ends -->

  <!-- back to top -->
  <div class="back">
    <div class="container">

      <a href="#top"><i class="fa fa-angle-up fa-3x"></i></a>

    </div>
  </div>
  <!-- back to top ends -->

</div>

<!-- Scripts -->
<script src="/static/scripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="/static/scripts/flexslider/jquery.flexslider-min.js"></script>
<script src="/static/scripts/isotope.pkgd.min.js"></script>
<script src="/static/scripts/imagelightbox.min.js"></script>
<script src="/static/scripts/theme.js"></script>
<script src="/static/scripts/jquery.inview.min.js"></script>
<script src="/static/scripts/form.js"></script>
<!-- Scripts Ends! -->

</body>
</html>



{% endblock %}